@section Head{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
}
@model DataTextVM

<div class="text-center">
    <form id="formTranslate" asp-action="Index" method="post">
        <div class="form-group">
            <label for="translate">Enter Your Text Here</label>
            <textarea asp-for="Text" class="form-control" id="translate" rows="3"></textarea>
        </div>
        <div>
            <button type="button" class="btn btn-primary" onclick="callTranslate()">Convert</button>
        </div>
        <br />
        <div class="form-group">
            <textarea asp-for="Translated" class="form-control" id="translatedText" rows="3"></textarea>
        </div>
        <input type="hidden" asp-for="Translation"id="translationVal" />
    </form>
    <table id="myTable">
        <thead>
            <tr>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Telefon</th>
            </tr>
        </thead>
    </table>

    @section Scripts{
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script>
            var form = $("#formTranslate");
            function callTranslate() {
                var postObject = {};
                postObject.text = $("#translate").val();
                $.post("https://api.funtranslations.com/translate/leetspeak.json", postObject, function (response) {
                    $("#translatedText").val(response.contents.translated);
                    $("#translationVal").val(response.contents.translation);
                    
                    $(form).submit();
                }).fail(function (error) {
                    console.log(error);
                    alert('İstenmeyen bir hata meydana geldi');
                });
            }
            @*<script>
                $(document).ready(function () {
                    //var datasource = [
                    //    {
                    //        "Adi": "ömer", "Soyadi": "Kanra", "Telefon": "55555555"
                    //    }
                    //]
                    $('#myTable').DataTable(
                //    {
                //        data: datasource, columns: [
                //            { data: 'Adi'},
                //            { data: 'Soyadi' },
                //            { data: 'Telefon' }
                //        ]
                //    }
                //);
            });</script>*@
        @*$('#dataTable').DataTable(
                {


                    data: @ViewBag.dataTexts, columns: [
                        { data: 'DataId'},
                        { data: 'Text' },
                        { data: 'Translated' },
                        { data: 'Translation' }
                    ]

                }
            );*@
        </script>
    }
</div>
